{{- $m := slice "янв" "фев" "мар" "апр" "мая" "июн" "июл" "авг" "сен" "окт" "ноя" "дек" -}}
{{- $mf := slice "января" "февраля" "марта" "апреля" "мая" "июня" "июля" "августа" "сентября" "октября" "ноября" "декабря" -}}
{{- $mn := slice "январь" "февраль" "март" "апрель" "май" "июнь" "июль" "август" "сентябрь" "октябрь" "ноябрь" "декабрь" -}}
{{- $d := .date -}}
{{- $i := sub (int $d.Month) 1 -}}
{{- if eq .style "long" -}}
{{ $d.Day }} {{ index $mf $i }} {{ $d.Year }}
{{- else if eq .style "monthyear" -}}
{{ index $mn $i }} {{ $d.Year }}
{{- else -}}
{{ $d.Day }} {{ index $m $i }}
{{- end -}}
