<!-- SEO -->
<meta name="description" content="{{ .Description | default .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
{{ with .Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}
<link rel="canonical" href="{{ .Permalink | strings.TrimSuffix "/" }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description | default .Site.Params.description }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:url" content="{{ .Permalink | strings.TrimSuffix "/" }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ if .IsPage }}
<meta property="article:author" content="{{ .Site.Params.author }}">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
{{ with .Params.section }}<meta property="article:section" content="{{ . }}">{{ end }}
{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{ end }}
{{ end }}

<!-- Twitter -->
<meta name="twitter:card" content="{{ if .Params.image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:site" content="{{ .Site.Params.twitter }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description | default .Site.Params.description }}">
{{ with .Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{ end }}

<!-- JSON-LD -->
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ .Description }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}",
    "sameAs": [{{ range $i, $s := .Site.Params.social }}{{ if $i }}, {{ end }}"{{ $s.url }}"{{ end }}]
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink | strings.TrimSuffix "/" }}"
  },
  "wordCount": {{ .WordCount }},
  {{ with .Params.section }}"articleSection": "{{ . }}",{{ end }}
  "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}],
  "inLanguage": "ru-RU"{{ with .Params.youtube_id }},
  "video": {
    "@type": "VideoObject",
    "name": "{{ $.Title }}",
    "description": "{{ $.Description }}",
    "thumbnailUrl": "https://img.youtube.com/vi/{{ . }}/maxresdefault.jpg",
    "uploadDate": "{{ $.Date.Format "2006-01-02" }}",
    "contentUrl": "https://www.youtube.com/watch?v={{ . }}",
    "embedUrl": "https://www.youtube.com/embed/{{ . }}"
  }{{ end }}
}
</script>
{{ with .Params.youtube_id }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ $.Title }}",
  "description": "{{ $.Description }}",
  "thumbnailUrl": "https://img.youtube.com/vi/{{ . }}/maxresdefault.jpg",
  "uploadDate": "{{ $.Date.Format "2006-01-02" }}",
  "contentUrl": "https://www.youtube.com/watch?v={{ . }}",
  "embedUrl": "https://www.youtube.com/embed/{{ . }}"
}
</script>
{{ end }}
{{ else }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": "{{ .Title }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Permalink | strings.TrimSuffix "/" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}",
    "sameAs": [{{ range $i, $s := .Site.Params.social }}{{ if $i }}, {{ end }}"{{ $s.url }}"{{ end }}]
  },
  "inLanguage": "ru-RU"
}
</script>
{{ end }}
